.hdl2 {
  font-size: 30px;
  line-height: 37.5px;
  font-weight: 700;
  color: #01A8A9;
}

.hdl3 {
  font-size: 26px;
  line-height: 32.5px;
  font-weight: 500;
  color: #01A8A9;
}

.hdl4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.text__normal {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.layout-0 #celek .hdl2 {
  font-size: 26px;
  line-height: 32.5px;
  font-weight: 700;
}

.layout-0 #celek .hdl3 {
  font-size: 22px;
  line-height: 27.5px;
  font-weight: 500;
}

.layout-0 #celek .hdl4 {
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 500;
}

.layout-0 #celek .text__normal {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

@media only screen and (max-width: 975px) {
  .mobile #celek .hdl2,
  .mobileapp #celek .hdl2 {
    font-size: 26px;
    line-height: 32.5px;
    font-weight: 700;
  }
  .mobile #celek .hdl3,
  .mobileapp #celek .hdl3 {
    font-size: 22px;
    line-height: 27.5px;
    font-weight: 500;
  }
  .mobile #celek .hdl4,
  .mobileapp #celek .hdl4 {
    font-size: 14px;
    line-height: 17.5px;
    font-weight: 500;
  }
  .mobile #celek .text__normal,
  .mobileapp #celek .text__normal {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
}

#celek {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #212121;
}

#celek *, #celek *::before, #celek *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#celek h1, #celek h2, #celek h3, #celek h4, #celek p, #celek ul, #celek ol, #celek li, #celek figure {
  margin: 0;
  padding: 0;
}

#celek input, #celek button, #celek textarea, #celek select {
  font: inherit;
}

#celek .hidden {
  display: none !important;
}

#celek.blank p {
  margin-top: 0;
}

#celek a {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#celek img {
  display: block;
  height: auto;
  max-width: 100%;
  aspect-ratio: attr(width), attr(height);
  border-radius: 4px;
}

#celek .alza-btn__green {
  background-color: #a1c900;
  color: #ffffff;
}

#celek .alza-btn__green:hover {
  background-color: #88aa00;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3);
}

#celek .alza-btn__green:active {
  background-color: #708c00;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#celek .alza-btn__green__disabled {
  background-color: rgba(161, 201, 0, 0.5);
  -webkit-box-shadow: none;
          box-shadow: none;
}

#celek .alza-btn__normal__fixed {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  border: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  padding: 0 15px;
}

#celek .pp-addons {
  padding: 40px;
  background-color: #f8f8f8;
  text-align: center;
  width: 100%;
}

#legend #celek .pp-addons {
  display: block !important;
  height: 100% !important;
}

#celek .video-select .text__normal {
  margin: 16px;
}

#celek .video-select__videoID {
  padding: 8px 14px;
  width: 120px;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  display: block;
  margin: auto;
  width: 180px;
}

#celek .alza-btn {
  margin-top: 24px;
}

#layout_switch {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 100;
}

#layout_switch button {
  display: block;
  color: #fff;
  background: #ff4757;
  font-size: 10px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-bottom: 5px;
  border: 2px solid #E23140;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(255, 71, 86, 0.6);
          box-shadow: 0px 4px 10px 0px rgba(255, 71, 86, 0.6);
  cursor: pointer;
}

#celek {
  max-width: 1250px;
  margin: 0 auto;
  display: block;
  position: relative;
  background: #FFFFFF;
  font-size: 16px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#testLayout.layout-1 #celek {
  width: 1250px;
}

#testLayout.layout-0 #celek {
  width: 975px;
}

.mobile #celek .flex-container {
  max-width: 100%;
}

body {
  background-color: #ecf5fe;
}

#celek {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #ffffff;
  color: #212121;
  position: relative;
}

#celek .pp-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 48px;
  padding: 48px 0;
}

#celek .pp-column {
  padding: 0 136px;
}

#celek .pp-awards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#celek .pp-awards--image {
  height: 160px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#celek .pp-awards--image img {
  max-width: 300px;
  max-height: 160px;
}

#celek .pp-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 32px;
}

#celek .pp-plaintext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 24px;
}

#celek .pp-multipletexts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 48px;
}

#celek .pp-multipletexts--unit {
  width: calc((100% - 48px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 24px;
}

#celek .pp-multipletexts--headline {
  height: 48px;
}

#celek .pp-video {
  padding: 48px 136px;
  background-color: #f4f5f5;
}

#celek .pp-video--container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  z-index: 10;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#celek .pp-video--container:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#celek .pp-video--container:hover + .pp-video--overlay {
  opacity: 30%;
  visibility: visible;
}

#celek .pp-video--container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  border: 10px solid #fff;
  -webkit-box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.15);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#celek .pp-video--overlay {
  visibility: hidden;
  opacity: 0;
  background-color: #000000;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#celek .pp-zigzag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 48px;
}

#celek .pp-zigzag--unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 48px;
}

#celek .pp-zigzag--unit:nth-child(odd) .pp-zigzag--caption {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#celek .pp-zigzag--image, #celek .pp-zigzag--caption {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

#celek .pp-zigzag--image {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#celek .pp-zigzag--image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#celek .pp-zigzag--caption {
  background-color: #f4f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

#celek .pp-zigzag--caption h3 {
  margin: 48px 48px 0 48px;
}

#celek .pp-zigzag--caption p {
  margin: 0 48px 48px 48px;
}

#celek .pp-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 24px;
  text-align: left;
}

#celek .pp-features--headline {
  width: 100%;
  background-color: #f4f5f5;
  padding: 24px 48px;
}

#celek .pp-features--unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

#celek .pp-features--img, #celek .pp-features--list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

#celek .pp-features--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 24px;
  list-style-type: none;
}

#celek .pp-features--listitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 12px;
}

#celek .pp-features--listitem:hover .pp-features--marker span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#celek .pp-features--listitem:hover .pp-features--marker span:nth-of-type(2) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#celek .pp-features--marker {
  position: relative;
  margin-right: 16px;
}

#celek .pp-features--marker span {
  width: 12px;
  height: 2px;
  background-color: #01A8A9;
  display: block;
  position: absolute;
  top: 12px;
  left: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#celek .pp-features--marker span:nth-of-type(2) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#celek .pp-specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 24px;
  text-align: left;
}

#celek .pp-specs--headline {
  width: 100%;
  background-color: #f4f5f5;
  padding: 24px 48px;
}

#celek .pp-specs--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 24px;
  list-style-type: none;
  margin-left: 20px;
}

#celek .pp-specs--listitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 12px;
}

#celek .pp-specs--listitem:hover .pp-specs--marker span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#celek .pp-specs--listitem:hover .pp-specs--marker span:nth-of-type(2) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#celek .pp-specs--marker {
  position: relative;
  margin-right: 16px;
}

#celek .pp-specs--marker span {
  width: 12px;
  height: 2px;
  background-color: #01A8A9;
  display: block;
  position: absolute;
  top: 12px;
  left: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#celek .pp-specs--marker span:nth-of-type(2) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.layout-0 #celek .pp-column {
  padding: 0 48px;
}

.layout-0 #celek .pp-video {
  padding: 48px;
}

.layout-0 #celek .pp-features--marker span, .layout-0 #celek .pp-specs--marker span {
  top: 10px;
}

@media only screen and (max-width: 975px) {
  .mobile #celek .pp-column,
  .mobileapp #celek .pp-column {
    padding: 0 32px;
  }
  .mobile #celek .pp-multipletexts--headline,
  .mobileapp #celek .pp-multipletexts--headline {
    height: 60px;
  }
  .mobile #celek .pp-video,
  .mobileapp #celek .pp-video {
    padding: 0 32px;
    background-color: #ffffff;
  }
  .mobile #celek .pp-video--container:hover,
  .mobileapp #celek .pp-video--container:hover {
    -webkit-transform: none;
            transform: none;
  }
  .mobile #celek .pp-video--overlay,
  .mobileapp #celek .pp-video--overlay {
    display: none;
  }
  .mobile #celek .pp-zigzag,
  .mobileapp #celek .pp-zigzag {
    background-color: #f4f5f5;
    padding: 48px 32px;
  }
  .mobile #celek .pp-zigzag--unit,
  .mobileapp #celek .pp-zigzag--unit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile #celek .pp-zigzag--unit:nth-child(odd) .pp-zigzag--caption,
  .mobileapp #celek .pp-zigzag--unit:nth-child(odd) .pp-zigzag--caption {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .mobile #celek .pp-zigzag--caption h3, .mobile #celek .pp-zigzag--caption p,
  .mobileapp #celek .pp-zigzag--caption h3,
  .mobileapp #celek .pp-zigzag--caption p {
    margin: 0;
  }
  .mobile #celek .pp-zigzag--image:hover,
  .mobileapp #celek .pp-zigzag--image:hover {
    -webkit-transform: none;
            transform: none;
  }
  .mobile #celek .pp-features--unit,
  .mobileapp #celek .pp-features--unit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile #celek .pp-features--list,
  .mobileapp #celek .pp-features--list {
    margin-left: 20px;
  }
  .mobile #celek .pp-features--marker span, .mobile #celek .pp-specs--marker span,
  .mobileapp #celek .pp-features--marker span,
  .mobileapp #celek .pp-specs--marker span {
    top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .mobile #celek .pp-multipletexts,
  .mobileapp #celek .pp-multipletexts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile #celek .pp-multipletexts--unit,
  .mobileapp #celek .pp-multipletexts--unit {
    width: 100%;
  }
  .mobile #celek .pp-video,
  .mobileapp #celek .pp-video {
    padding: 0;
  }
  .mobile #celek .pp-video iframe,
  .mobileapp #celek .pp-video iframe {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media only screen and (max-width: 400px) {
  .mobile #celek .pp-features--headline,
  .mobileapp #celek .pp-features--headline {
    padding: 24px;
  }
  .mobile #celek .pp-features--list,
  .mobileapp #celek .pp-features--list {
    margin-left: 0;
  }
  .mobile #celek .pp-features--listitem,
  .mobileapp #celek .pp-features--listitem {
    gap: 7px;
  }
  .mobile #celek .pp-specs--headline,
  .mobileapp #celek .pp-specs--headline {
    padding: 24px;
  }
  .mobile #celek .pp-specs--list,
  .mobileapp #celek .pp-specs--list {
    margin-left: 0;
  }
  .mobile #celek .pp-specs--listitem,
  .mobileapp #celek .pp-specs--listitem {
    gap: 7px;
  }
}
